#home{
    height: 200vh;
}

#secondImage{
    display: none;
}

#crauser{
    position: relative;
}

#crauser>button{
    font-size: 70px;
    width: 40px;
    height: 150px;
    color: black;
    background-color: transparent;
    border: 0.5px solid gray;
}

#crauser>button:hover{
    color: gray;
    transition: 0.5s;
}

#crauser>button:nth-child(2){
    top: 60px;
    position: absolute;
    left: 0px;
}
#crauser>button:nth-child(3){
    top: 60px;
    position: absolute;
    right: 0px;
}


@media screen and (max-width: 600px) {
    #firstImage{
        display: none;
    }
    #secondImage{
        display: block;
    }
}
/* to be removed */